<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" default-href="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Passwort vergessen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">ForgotPassword</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

  <div class="flex-col bg-primary-content text-base-100 h-screen">


    <div class="flex-grow flex-col space-y-8 px-8 mt-16">
      <div class="flex-none">
        <p>Um dein Passwort zurückzusetzen gib bitte deine <br> E-Mail-Adresse ein. <br>Wir senden dir anschließend eine E-Mail mit weiteren Anweisungen um ein neues Passwort zu vergeben.</p>
      </div>

      <div class="flex-none">
        <input type="text" placeholder="Email-adresse" class="input bg-secondary-content text-primary rounded-xl w-full h-16 focus:border-primary" [disabled]="success || loadingState"/>
      </div>

      <div class="flex-none flex justify-center">
        @if (loadingState) {
        <button class="btn btn-primary mb-3 btn-wide rounded-full text-lg">
          <span class="loading loading-infinity loading-lg"></span>
          Ein Moment...
        </button>
        } @else {
        <button class="btn btn-primary mb-3 btn-wide rounded-full text-lg" (click)="onClickNewPassword()" [disabled]="success">Passwort zurücksetzen</button>
        }
      </div>

      @if (success) {
      <div class="flex-none">
        <p>Sollte deine E-Mail Adresse bekannt sein, solltest du in den nächsten Minuten eine E-Mail von uns erhalten.</p>
      </div>
      }

    </div>


  </div>

</ion-content>
