<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/config']">
        <ion-icon slot="icon-only" src="../assets/heroicons/cog.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ClientView</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-buttons slot="start">-->
<!--        <ion-back-button default-href="#"></ion-back-button>-->
<!--      </ion-buttons>-->
<!--      <ion-title size="large">ClientView</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->


</ion-content>
