<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/config']">
        <ion-icon slot="icon-only" src="../assets/heroicons/cog.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hallo {{firstName}} {{lastName}}!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">EmployeeView</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

  <ion-list>
    <ion-item detail="false" [routerLink]="['/chat']">
      <app-chat-list-item [sender]="'# Jugendhilfe'"
                          [lastMessage]="'Dies ist die letzte Nachricht die gesendet wurde und es ist ein extrem langer text der eigentlich abgeschnitten werden soll aber niemand weiß ob es funktioniert oder nicht'"
                          [delivered]="true"
                          [seen]="true"
                          [date]="'29.11.'"
                          [type]="'direct'"
                          [link]="'../chat'"></app-chat-list-item>
    </ion-item>
    <ion-item detail="false" [routerLink]="['/chat']">
      <app-chat-list-item [sender]="'# Familienchat'"
                          [lastMessage]="'Dies ist die letzte Nachricht die gesendet wurde und es ist ein extrem langer text der eigentlich abgeschnitten werden soll aber niemand weiß ob es funktioniert oder nicht'"
                          [delivered]="false"
                          [seen]="false"
                          [date]="'26.11.'"
                          [type]="'group'"
                          [link]="'../chat'"></app-chat-list-item>
    </ion-item>
    <ion-item detail="false" [routerLink]="['/chat']">
      <app-chat-list-item [sender]="'# WG Eringhausen'"
                          [lastMessage]="'Dies ist die letzte Nachricht die gesendet wurde und es ist ein extrem langer text der eigentlich abgeschnitten werden soll aber niemand weiß ob es funktioniert oder nicht'"
                          [delivered]="true"
                          [seen]="false"
                          [date]="'23.11.'"
                          [type]="'internal'"
                          [link]="'../chat'"></app-chat-list-item>
    </ion-item>
  </ion-list>

</ion-content>
